/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
header{
    
    text-align: center;
    background-color: #023047;
    width: 100%;
    height: 130px;
}
.title{
    color: #8ECAE6;
    text-align: center;
    font-size: 2.5em;
    padding:1em;
}
nav{
    width: 100%;
    background-color: #219EBC;
}
.list-menu{
    
    width: 70%;
    margin: 0 auto;
}
.list-item{
    display: inline-block;
    position: relative;
    width: 20%;
    padding: 1em 2%; 
    font: bold 18px Arial;
}
.list-item ul {
    
    position: absolute;  
    display: none;
    top: 50px;
    left: 0;
    list-style:none;
    z-index: 1000;
}
.item-hidden{
    background-color: #219EBC;
    padding: 0.2em 12px;
}
.list-item:hover a{
    color: #fff;
    
}
.list-item:hover ul{

    display: block;
    
    
}
li a{
    font: bold 1.5em Arial, sans-serif;
    text-decoration: none;
    color: #8ECAE6;
}
main{
    width: 75%;
    margin: 1em auto;
    background-image:url("https://th.bing.com/th/id/OIP.GWiOBtxngRMFq0EaNEQ2UgHaFj?pid=ImgDet&rs=1");
}

.main-articles{
    float: left;
    background-color: #8ECAE6;
    width: 65%;
    border-radius: 10px;
    padding: 2%;

}
article{
    position: relative;
    padding: 1em 2em;
}
article>p{
    font-size: 1.2em;
    margin: 1em 0;
}
article >time{
    position: absolute;
    top: 0;
    left: -21%;
    background-color: #023047;
    width: 14%;
    text-align: center;
    padding: 1em;
    color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
}
.day-number{
    font:bold 3em Arial
}
.additional-articles{
    float: right;
    width: 20%;
    padding: 2% 3%;
    background-color: #8ECAE6;
    border-radius: 12px;
}
.additional-articles h2{
    font: bold 18px Arial, sans-serif;
    color: #023047;
    
}
footer{
    clear: both;
    width: 90%;
    margin: 0 auto;
    
    background-color: #219EBC;
}
.footer{
    display: inline-block;
    width: 25%;
    margin:0 auto;
    padding: 25px;

}
.footer a{
    font: bold 16px Arial, sans-serif;
    color: #000;
    text-decoration: none;
}
footer p{
    margin-top: 5px;
    color: #ec1b1b;
}
.footer h2{
    font: bold 1.2em Arial;
}
article .title{
    color: #023047;
    text-align: left;
    padding: 0;
}